
@import './variables.scss';
@font-face { font-family:'electronicFont'; src: url("../font/ds-digital.woff.ttf"); }
@font-face { font-family:'blFont'; src: url("../font/ds-baoli.TTF"); }
p{
    margin:0;
}
a{
  text-decoration: none;
}
h4{
    font-weight: 400;
}
ul,li{
    margin: 0;
    list-style: none;
}
ul{
    padding: 0;
}
html,body,#app{
    font-size: 14px;
    height: 100%;
}
body{
    color:rgba(0,0,0,.85);
}
.clearfix:after {
    content: '';
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    display: block;
}
.extra-wrapper{
    cursor: pointer;
    float: right;
}
// 部分图表样式集
.block-title {
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #043BA7;
}
.chart-outer-container {
    width: 100%;
    height: 100%;
}
.tips-box{
    padding:10px 20px;
    background: url('../image/tooltipBg.png') no-repeat center center;
    background-size: 100% 100%;
    .value{
      color:#3FC1E3;
      margin-left: 7px;
    }
  }
/*滚动条美化*/
*::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    background-color:#F1F1F1;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #d8d9da;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius:2em;
  }
  .ivu-dropdown{
    max-width: 100%;
  }
