@import './variables.less';

.ivu-menu {
  height: 100%;
}

.sidebar-container {

  .ivu-menu-submenu-title,
  .ivu-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color:inherit; // inherit 关键字指定一个属性应从父元素继承它的值, 全局css带有color
    }
  }

  .ivu-select-dropdown {
    margin: 5px 0 5px 3px;
  }
  .menu-collapsed {

    .ivu-tooltip,
    .ivu-tooltip-rel {
      display: block;
    }
    .ivu-menu-item {
      &>i {
        margin-right: 0;
      }
      text-align: center;
    }
    .ivu-dropdown {
      display: block;
    }
    // 浅色主题 
    &.ivu-menu-light {
      .ivu-dropdown-item {
        // 叶子节点
        &.dropdown-collapse-item-selected {
          background-color: #f0faff;
          color: #2d8cf0;
        }
        // title
        &.dropdown-collapse-item-title-selected{
          color: #2d8cf0;
        }
      }
    }

    // 深色主题
    &.ivu-menu-dark {
      .ivu-dropdown-item, .ivu-dropdown-item a {
        color: rgba(255, 255, 255, 0.7);
      }
      .ivu-select-dropdown{
        background-color: #304156;
        .ivu-dropdown-item {
          transition: all 0.2s ease-in-out;
          &.dropdown-collapse-item-selected {
            color: #fff;
            background: #2d8cf0 !important;
          }
          // title
          &.dropdown-collapse-item-title-selected{
            color: #2d8cf0;
          }
        }
        .ivu-dropdown-item:hover {
            background-color: #304156;
            color:#fff;
            a {
              color:#fff;
            }
            &.dropdown-collapse-item-selected {
              color: #fff;
              background: #2d8cf0 !important;
            }
            &.dropdown-collapse-item-title-selected{
              color: #2d8cf0;
            }
        }
      }
    }
  }
}